django==5.0.3
djangorestframework==3.15.1
psycopg2-binary==2.9.9
requests==2.31.0
python-dateutil==2.9.0.post0
gunicorn==21.2.0
uvicorn[standard]==0.29.0

ipython>=8.22.2
pytest>=8.1.1
pytest-django>=4.8.0
factory-boy>=3.3.0
pytest-factoryboy>=2.7.0
faker>=24.4.0

pre_commit>=3.7.0
black>=24.3.0
prospector>=1.10.3
pyupgrade>=3.15.2
pip-check-updates>=0.26.1
