*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #bFbFbF;
  background: #161614;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1.25rem;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

a {
  color: #bFbFbF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 1.25rem;
  font-size: calc(18rem / 16);
  line-height: 1.625;
}

table {
  width: 100%;
  margin-bottom: 3rem;
  line-height: 1.5;
}

table tr {
  border-bottom: 1px solid #efefef;
}

table tr:hover {
  background: #83b881;
}

table th,
table td {
  padding: .25rem;
  vertical-align: sub;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 0 0 1.5rem;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

/* Buttons and forms */

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  display: inline-block;
  min-width: 7.5rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  color: #ff5253;
  border: 1px solid #ff5253;
  background-color: #ffffff;
  padding: .5rem .75rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  cursor: pointer;
}

button.primary {
  color: #ffffff;
  background-color: #321e1d;
  border-color: #ff5253;
}

button.secondary {
  color: #6F6F6F;
  border-color: #9F9F9F;
}

button.primary:hover {
  background-color: #ff5253;
}

button.secondary:hover {
  color: #ffffff;
  background-color: #9F9F9F;
}

button.primary.focus,
button.outline.primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, .5);
}

button.primary:not(:disabled).active:focus,
button.primary:not(:disabled):active:focus,
.show > button.primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, .5);
}

button.primary:not(:disabled).active,
button.primary:not(:disabled):active,
.show > button.primary.dropdown-toggle {
  color: #bf4b31;
  background-color: #ffffff;
  border-color: #bf4b31;
}

button.outline.primary {
  color: #bf4b31;
  background-color: #ffffff;
}

button.outline.primary:hover {
  color: #ffffff;
  background-color: #bf4b31;
  border-color: #bf4b31;
}

button.outline.primary.focus,
button.outline.primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, .5);
}

button.outline.primary:not(:disabled).active:focus,
button.outline.primary:not(:disabled):active:focus,
.show > button.outline.primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, .5);
}

button.outline.primary:not(:disabled).active,
button.outline.primary:not(:disabled):active,
.show > button.outline.primary.dropdown-toggle {
  background-color: #bf4b31;
  border-color: #bf4b31;
}

input, select, textarea {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  color: #bFbFbF;
  background-color: #1a1a18;
  background-clip: padding-box;
  border: 1px solid #3d3d3b;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, textarea:focus, select:focus {
    background-color: #242b23;
    border-color: #82c38b;
    outline: 0;
}

textarea {
  height: auto;
}

form .group {
    margin-bottom: 1rem;
}

label {
    display: inline;
    margin-bottom: 0.5rem;
}

.small {
  font-size: .75rem;
}

.info {
  font-size: .85rem;
  color: #666;
}
