.ds18b20-container {
    min-height: 100vh;
    max-width: 1440px;
}

.ds18b20-container canvas {
    max-width: 100%;
    max-height: 80vh;
}

.esp8266-container {
    min-height: 100vh;
    max-width: 1440px;
}

.esp8266-container canvas {
    max-width: 100%;
    max-height: 80vh;
}

