.home .grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 1rem;
}

.home .tile {
  padding: 1rem 1.5rem;
  background: #1c1c1c;
  border-radius: 3px;
  overflow: hidden;
}

.home ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.home li {
  list-style: none;
  margin-right: 2rem;
}

.home ul a {
  border-bottom: 3px solid transparent;
}

.home ul a:hover {
  border-bottom-color: #495057;
}

.home img.icon {
  width: 100px;
}

.home .map {
  position: relative;
}

.home .map .wrapper {
  position: absolute;
  min-width: 100%;
  min-height: 400px;
  background: url(/static/img/map.jpg);
  opacity: 0.3;
}

.home .temp {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;

}