[Unit]
Description=Gunicorn instance for ODIN server
After=network.target

[Service]
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/odin
ExecStart=/home/manti/www/odin/.venv/bin/gunicorn --timeout 60 --max-requests 300 --max-requests-jitter 30 --log-level info  --access-logfile /var/log/odin/gunicorn-access.log --error-logfile /var/log/odin/gunicorn-error.log --pythonpath /home/manti/www/odin --bind 127.0.0.1:8000 --workers 4 odin.wsgi:application

[Install]
WantedBy=multi-user.target
