{% load i18n relay_tags %}

<table>
  <thead>
    <tr>
      <th>{% translate 'Day \ Hour' %}</th>
      {% for hour in schedule.0  %}
        <th>{{ hour }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for day, hours in schedule.items %}
      <tr>
        <th>{{ day|day_name }}</th>
        {% for hour, enabled in hours.items %}
          <td>
            <input
              type="checkbox"
              name="schedule-{{ day }}-{{ hour }}"
              value="True"
              {% if enabled %}checked{% endif %}
            >
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
