[Unit]
Description=Periodic tabs scheduler for ODIN server
After=network.target

[Service]
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/odin/src
EnvironmentFile=/home/manti/www/odin/src/.env
ExecStart=/home/manti/.pyenv/versions/odin/bin/python /home/manti/www/odin/src/manage.py scheduler
StandardOutput=file:/var/log/odin/scheduler-access.log
StandardError=file:/var/log/odin/scheduler-error.log
KillSignal=SIGINT
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
