[Unit]
Description=Periodic tabs scheduler for ODIN server
After=network.target

[Service]
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/odin
EnvironmentFile=/home/manti/www/odin/.env
ExecStart=/home/manti/www/odin/.venv/bin/python /home/manti/www/odin/manage.py scheduler
StandardOutput=file:/var/log/odin/scheduler-access.log
StandardError=file:/var/log/odin/scheduler-error.log
KillSignal=SIGINT
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
