[Unit]
Description=Worker for ODIN server
After=network.target

[Service]
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/odin
EnvironmentFile=/home/manti/www/odin/.env
ExecStart=/home/manti/www/odin/.venv/bin/python /home/manti/www/odin/manage.py rqworker default
StandardOutput=file:/var/log/odin/worker-access.log
StandardError=file:/var/log/odin/worker-error.log
KillSignal=SIGINT
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
