.home .grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 1rem;
  padding-bottom: 2rem;
}

.home .tile {
  padding: 1rem 1.5rem 2rem 1.5rem;
  background: #1c1c1c;
  border-radius: 3px;
  overflow: hidden;
}

.home ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.home li {
  list-style: none;
}

.home ul a {
  border-bottom: 3px solid transparent;
}

.home ul a:hover {
  border-bottom-color: #495057;
}

.home img.icon {
  width: 100px;
}
