.home .grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  padding-bottom: 2rem;
}

.home .tile {
  min-height: 320px;
  overflow: hidden;
  border: 1px solid #3d3d3b;
  background: #1a1a18;
}

.home .tile h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  padding: .75rem 1.5rem .75rem 1.5rem;
  text-transform: uppercase;
  background: #242b23;
}

.home .tile .body {
  padding: 0 1.5rem 2rem 1.5rem;
}

.home ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.home li {
  list-style: none;
}

.home ul a {
  border-bottom: 3px solid transparent;
}

.home ul a:hover {
  border-bottom-color: #495057;
}

.home img.icon {
  width: 100px;
}

.home .more {
  display: block;
  text-align: right;
  text-transform: lowercase;
}
