.home .ds18b20 ul {
  padding: .25rem 0;
}

.home .ds18b20 .sensor {
  width: 33%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.home .ds18b20 .sensor .value {
  display: block;
  min-height: 175px;
}

.home .ds18b20 .sensor .temp {
  font-size: 1rem;
  padding-bottom: .5rem;
}

.home .ds18b20 .sensor .name {
  margin-bottom: .5rem
}

.home .ds18b20 .sensor .value img {
  width: 175px;
}

.home .ds18b20 .sensor .linked-sensor {
  font-weight: normal;
}

.home .ds18b20 .sensor .attrs .relay {
  display: inline-block;
  height: 24px;
  margin-right: .5rem;
  overflow: hidden;
}

.home .ds18b20 .sensor .attrs .linked-sensor {
  vertical-align: top;
}

.home .ds18b20 .sensor .attrs .linked-sensor .arrow {
  font-size: 1.25rem;
}