.home .ds18b20 .body {
  padding-top: .5rem;
}

.home .ds18b20 ul {
  padding: .25rem 0;
}

.home .ds18b20 .sensor {
  width: 33%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.home .ds18b20 .sensor .value {
  display: block;
  position: relative;
  left: -5px;
  height: 150px;
}

.home .ds18b20 .sensor .temp {
  font-size: 1rem;
  padding-bottom: .5rem;
}

.home .ds18b20 .sensor .name {
  width: 100px;
  margin: 0 auto .5rem auto;
}

.home .ds18b20 .sensor .value img {
  width: 160px;
}

.home .ds18b20 .sensor .linked-sensor {
  font-weight: normal;
}

.home .ds18b20 .sensor .attrs {
  margin-bottom: .5rem;
}

.home .ds18b20 .sensor .attrs .relay {
  display: inline-block;
  height: 24px;
  margin-right: .5rem;
  overflow: hidden;
}

.home .ds18b20 .sensor .attrs .linked-sensor {
  vertical-align: top;
}

.home .ds18b20 .sensor .attrs .linked-sensor .arrow {
  font-size: 1.25rem;
}