.home .ds18b20 ul {
  padding: .25rem 0;
}

.home .ds18b20 .sensor {
  width: 50%;
  font-size: 1.25rem;
  font-weight: bold;
}

.home .ds18b20 .sensor span,
.home .ds18b20 .sensor label {
  display: block;
  text-align: center;
}

.home .ds18b20 .sensor .temp {
  font-size: 1rem;
  padding-bottom: .5rem;
}

.home .ds18b20 .sensor .name {
  font-size: .75rem;
}

.home .ds18b20 .sensor img {
  width: 175px;
}