.home .errors .body {
    padding-top: 1rem;
}

.home .systemd-status {
    margin-bottom: 1rem;
}

.home .systemd-status .service {
    display: inline-block;
    min-width: 150px;
}

.home .systemd-status .error {
    color: #f44336;
}
