.home .traffic {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.home .traffic .label {
    display: inline-block;
    min-width: 150px;
    text-transform: capitalize;
}

.home .voltage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.home .voltage .body {
    padding-top: 1rem;
}

.home .voltage .label {
    display: inline-block;
    min-width: 150px;
    margin-right: 0.5rem;
}

.home .errors .body {
    padding-top: 1rem;
}

.home .systemd-status {
    margin-bottom: 1rem;
}

.home .systemd-status .service {
    display: inline-block;
    min-width: 150px;
}

.home .systemd-status .error {
    color: #f44336;
}
