.home .esp8266 ul {
  display: block;
  padding: 1.75rem 0;
}

.home .esp8266 .sensor {
  margin: .75rem 0;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
}

.home .esp8266 .sensor .name {
  width: 60%;
}