.home .esp8266 ul {
  display: block;
  padding: 1.75rem 0;
}

.home .esp8266 .sensor {
  margin: .75rem 0;
  justify-content: space-between;
}

.home .esp8266 .sensor .name {
  width: 60%;
}

.home .alive-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2px 2px 4px 2px;
  border-radius: 50%;
  vertical-align: middle;
}

.home .alive-indicator.alive {
  background-color: #4caf50;
}

.home .alive-indicator.cooling {
  background-color: #007190;
}

.home .alive-indicator.dead,
.home .alive-indicator.heating {
  background-color: #f44336;
}