.home .esp8266 ul {
  display: block;
  padding: 1.75rem 0;
}

.home .esp8266 .sensor {
  margin: .75rem 0;
  justify-content: space-between;
}

.home .esp8266 .sensor .name {
  width: 60%;
}

.home .alive-indicator {
  display: inline-block;
  margin-bottom: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  vertical-align: middle;
}

.home .alive-indicator.alive {
  background-color: #4caf50;
}

.home .alive-indicator.dead {
  background-color: #f44336;
}