{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'favicon-128.png' %}">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" type="image/png" sizes="32x32" href="{% static 'avicon-32.png' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="64x64" href="{% static 'avicon-64.png' %}">
    <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="{% static 'avicon-128.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400..600&display=swap" rel="stylesheet">

    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
