{% extends "base.html" %}
{% load static i18n %}

{% block title %}
  {% translate "Welcome to ODIN server" %}
{% endblock %}

{% block content %}
  <div class="container home">
    <h1>{% translate "Welcome to ODIN server" %}</h1>
    <h2>{% translate "IoT Graphs" %}</h2>
    <ul>
      {% for name, sensor in sensors.items %}
        <li>
          {{ sensor.external_id }} - {{ name }}:
          {{ sensor.temp }}<span>&#8451;</span> / {{ sensor.humidity }}%
        </li>
      {% endfor %}
    </ul>
    <h2>{% translate "Local services" %}</h2>
    <ul>
      <li>
        <a href="https://deluge.odin.local">
          <img src="{% static 'img/deluge.png' %}" alt="Deluge">
        </a>
      </li>
      <li>
        <a href="https://mail.odin.local">
          <img src="{% static 'img/mailhog.png' %}" alt="Mailhog">
        </a>
      </li>
      <li>
        <a href="https://es.odin.local">
          <img src="{% static 'img/elasticsearch.png' %}" alt="Elastic">
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block styles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}
