{% extends "base.html" %}
{% load static i18n %}

{% block title %}
  {% translate "Welcome to ODIN server" %}
{% endblock %}

{% block styles %}
  <link href="{% static 'css/index/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/boiler-room.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/sensors.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/weather.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <header>
    <h1>
      <img src="{% static 'img/logo.png' %}" class="logo" alt="O">
      <span>{% translate "ODIN server" %}</span>
    </h1>
    <div class="menu">
      <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
    </div>
  </header>
  <div class="container home">
    <div class="grid">
      <div class="tile sensors esp8266">
        <h2>{% translate "Home Sensors" %}</h2>
        <ul>
          {% for sensor in sensors.esp8266 %}
            <li
              class="sensor row"
              data-sensor-id="{{ sensor.sensor_id }}"
              data-sensor-name="{{ sensor.name }}"
              data-target-temp="{{ sensor.context.target_temp|default_if_none:'' }}"
            >
              <div class="name">{{ sensor.name }}</div>
              <div class="temp">{{ sensor.temp }}<span>&deg;C</span></div>
              <div class="edit">
                <a href="#edit">
                  <img src="{% static 'img/settings.svg' %}" alt="settings" width="20">
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tile sensors ds18b20">
        <h2>{% translate "Boiler Room" %}</h2>
        <ul class="row">
          {% for sensor in sensors.ds18b20 %}
            <li class="sensor">
              <span><img src="/api/v1/core/chart/?value={{ sensor.temp }}&metric=temp"></span>
              <label>{{ sensor.name }}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tile weather">
        <h2>{% translate "Weather" %}</h2>
        {% if weather %}
          <div class="temp attr">
            <span>
              {{ weather.temp_display }}&deg;C
            </span>
            <span class="meta">
              min {{ weather.temp_min_display }}&deg;C<br/>
              max {{ weather.temp_max_display }}&deg;C
            </span>
          </div>
          <div class="row attr">
            <div class="humidity">
              <span class="humidity-chart">
                <img src="/api/v1/core/chart/?value={{ weather.data.humidity }}&metric=humidity">
              </span>
              <label>{% translate "Humidity" %}</label>
            </div>
            <div class="pressure">
              <span class="pressure-chart">
                <img src="/api/v1/core/chart/?value={{ weather.pressure }}&metric=pressure">
              </span>
              <label>{% translate "Pressure" %}</label>
            </div>
          </div>
          <div class="wind attr">
            <label>{% translate "Wind" %} - </label>
            <span>
              {{ weather.data.wind.speed }}m/s
              <span class="meta">(gusts {{ weather.data.wind.gusts }}m/s)</span>
              {{ weather.data.wind.direction }}&deg;
            </span>
          </div>
          {% if weather.has_attrs %}
            <div class="attributes attr">
              <label>{% translate "Attributes" %} - </label>
              <span>
                {% if weather.data.attributes.fog %}
                  {% translate "Fog" %},
                {% endif %}
                {% if weather.data.attributes.snow %}
                  {% translate "Snow" %},
                {% endif %}
                {% if weather.data.attributes.thunderstorm %}
                  {% translate "Thunderstorm" %},
                {% endif %}
                {% if weather.data.attributes.black_ice %}
                  {% translate "Black Ice" %}
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% else %}
          <div>{% translate "No Data" %}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include "modal.html" %}
{% endblock %}
