{% extends "base.html" %}
{% load static i18n l10n core_tags weather_tags relay_tags currency_tags %}

{% block meta %}
  <meta http-equiv="Refresh" content="300" />
  <meta name="application-name" content="ODIN IoT Dashboard">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="ODIN">
  <meta name="msapplication-TileColor" content="#ff6f61">
{% endblock %}

{% block title %}
  {% translate "Welcome to ODIN server" %}
{% endblock %}

{% block styles %}
  <link href="{% static 'css/index/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/boiler-room.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/currency.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/errors.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/sensors.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/voltage.css' %}" rel="stylesheet">
  <link href="{% static 'css/index/weather.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive/mobile.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive/small-tablet.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive/tablet.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive/large-tablet.css' %}" rel="stylesheet">
  <link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <div class="container home">
    <div class="grid">
      <div class="tile sensors esp8266">
        <h2>
          <a href="{% url 'admin:sensors_sensor_changelist' %}?type=ESP8266">
            <span class="alive-indicator {% if home_sensors_is_alive %}alive{% else %}dead{% endif %}"></span>
          </a>
          {% translate "Sensors" %}
          <a href="{% url 'sensors_home' %}" class="graph">
            <img src="{% static 'img/graph.svg' %}" alt="graph" width="16">
          </a>
        </h2>
        <div class="body">
          <ul>
            {% for sensor in sensors.esp8266 %}
              <li
                class="sensor row"
                data-sensor-id="{{ sensor.sensor_id }}"
                data-sensor-name="{{ sensor.name }}"
                data-target-temp="{{ sensor.context.target_temp|default_if_none:'' }}"
              >
                <div class="name">{{ sensor.name }}</div>
                <div class="relay">
                  {% if sensor.relay %}
                    <span class="alive-indicator {% if sensor.relay.is_on %}heating{% else %}cooling{% endif %}"></span>
                  {% else %}
                    <span class="info">nc</span>
                  {% endif %}
                </div>
                <div class="temp">{{ sensor.temp|format_decimal }}<span>&deg;C</span></div>
                <div class="humidity">{{ sensor.humidity|format_decimal }}<span>%</span></div>
                <div class="edit">
                  <a href="#edit">
                    <img src="{% static 'img/settings.svg' %}" alt="settings" width="20">
                  </a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tile sensors ds18b20">
        <h2>
          <a href="{% url 'admin:sensors_sensor_changelist' %}?type=DS18B20">
            <span class="alive-indicator {% if boiler_sensors_is_alive %}alive{% else %}dead{% endif %}"></span>
          </a>
          {% translate "Boiler Room" %}
          <a href="{% url 'sensors_boiler' %}" class="graph">
            <img src="{% static 'img/graph.svg' %}" alt="graph" width="16">
          </a>
        </h2>
        <div class="body">
          <ul class="row">
            {% for sensor in sensors.ds18b20 %}
              <li class="sensor">
                <div class="value">
                  <img src="/api/v1/core/chart/?value={{ sensor.temp|unlocalize }}&metric=temp">
                </div>
                <div class="attrs">
                  {% if sensor.relay %}
                    <span class="relay info">
                      {% relay_state_image sensor.relay.state %}
                    </span>
                  {% endif %}
                  {% if sensor.linked_sensor %}
                    <span class="linked-sensor info">
                      <span class="arrow">&odot;</span>
                      {{ sensor.linked_sensor.temp|format_decimal }}&deg;C
                    </span>
                  {% endif %}
                </div>
                <div class="name">{{ sensor.name }}</div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tile weather">
        <h2>{% translate "Weather" %}</h2>
        <div class="body">
          {% if weather %}
            <div class="temp attr">
              <span>
                {{ weather.temp_display }}&deg;C
              </span>
              <span class="meta info">
                <span>{% translate "max" %}</span> {{ weather.temp_max_display }}&deg;C<br/>
                <span>{% translate "min" %}</span> {{ weather.temp_min_display }}&deg;C
              </span>
            </div>
            <div class="row attr">
              <div class="humidity">
                <span class="humidity-chart">
                  <img src="/api/v1/core/chart/?value={{ weather.data.humidity }}&metric=humidity">
                </span>
                <label>{% translate "Humidity" %}</label>
              </div>
              <div class="pressure">
                <span class="pressure-chart">
                  <img src="/api/v1/core/chart/?value={{ weather.pressure }}&metric=pressure">
                </span>
                <label>{% translate "Pressure" %}</label>
              </div>
            </div>
            <div class="wind attr row">
              <div class="direction">
                <span style="transform: rotate({{ weather.data.wind.direction }}deg);">↓</span>
              </div>
              <div>
                <div class="label">
                  {% translate "Wind" %}
                  {{ weather.data.wind.direction|wind_direction_abbr }}
                  {{ weather.data.wind.speed }}{% translate "m/s" %}
                </div>
                <div class="gusts info">
                  {% translate "Gusts up to" %} {{ weather.data.wind.gusts }}{% translate "m/s" %}
                </div>
              </div>
            </div>
            {% if weather.has_attrs %}
              <div class="attributes attr">
                <label>{% translate "Attributes" %} - </label>
                <span>
                  {% if weather.data.attributes.fog %}
                    {% translate "Fog" %},
                  {% endif %}
                  {% if weather.data.attributes.snow %}
                    {% translate "Snow" %},
                  {% endif %}
                  {% if weather.data.attributes.thunderstorm %}
                    {% translate "Thunderstorm" %},
                  {% endif %}
                  {% if weather.data.attributes.black_ice %}
                    {% translate "Black Ice" %}
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% else %}
            <div>{% translate "No Data" %}</div>
          {% endif %}
        </div>
      </div>
      <div class="tile currency">
        <h2>{% translate "Exchange Rates" %}</h2>
        <div class="body">
          {% if exchange_rates %}
            <div class="date info">{{ exchange_rates.0.date|date:"d.m.Y" }}</div>
            <div class="rates">
              {% for rate in exchange_rates %}
                <div class="rate row">
                  <div class="currency-code">{{ rate.currency }}</div>
                  <div class="rate-value">{{ rate.rate_per_unit|currency_rate }} BYN</div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div>{% translate "No Data" %}</div>
          {% endif %}
        </div>
      </div>
      <div class="tile errors">
        <h2>{% translate "Other" %}</h2>
        <div class="body">
          <div class="voltage">
            <span class="label">{% translate "Voltage" %}:</span>
            <span class="value">{{ voltage.voltage|floatformat:0 }} V</span>
          </div>
          <div class="traffic">
            <span class="label">{% translate "Traffic" %}:</span>
            {% if traffic %}
              <span class="value">{{ traffic.value }} {{ traffic.unit }}</span>
            {% else %}
              <span class="value">—</span>
            {% endif %}
          </div>
          <div class="systemd-status">
            {% if systemd_status %}
              <ul>
                {% for service, status in systemd_status.items %}
                  <li class="systemd">
                    <span class="service">{{ service }}</span>
                    {% if status.error %}
                      <span class="error">{{ status.error }}</span>
                    {% else %}
                      <span class="status">{{ status.status }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <div class="success info">{% translate "No errors for the last 24 hours" %}</div>
            {% endif %}
          </div>
          <div class="errors">
            {% if error_logs %}
              <ul>
                {% for log in error_logs %}
                  <li class="log">
                    <span class="time">{{ log.asctime|date:"d.m H:i" }}</span>
                    <span class="msg">{{ log.msg }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <div class="success info">{% translate "No errors for the last 24 hours" %}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "modal.html" %}
{% endblock %}
