{% load static i18n %}

<div id="target-temp-modal" class="modal" role="dialog" aria-modal="true" aria-labelledby="target-temp-modal-title">
  <div class="modal__body">
    <div class="modal__header">
      <label id="target-temp-modal-title">{% translate "Set temp" %}</label>
      <button type="button" class="modal__close" aria-label="{% translate 'Close' %}">&times;</button>
    </div>
    <form id="target-temp-form">
      <input type="hidden" name="sensor_id" id="target-temp-sensor-id">
      <div>
        <label for="target-temp-input">{% translate "Temperature" %} &deg;C</label>
        <input id="target-temp-input" type="number" step="0.5" name="target_temp" autocomplete="off" required>
      </div>
      <div class="modal__message" id="target-temp-message"></div>
      <button type="submit">{% translate "Send" %}</button>
    </form>
  </div>
</div>
