name: Checks

on:
  push:
    branches:
      - master

jobs:
  checks:

    name: Run Django checks

    runs-on: ubuntu-latest

    services:

      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: odin
          POSTGRES_PASSWORD: odin
          POSTGRES_DB: odin
        ports:
          - 5432:5432

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Cache deps
        uses: actions/cache@v4
        with:
            path: |
              ~/.cache/pip
              ~/.cache/uv
            key: ${{ runner.os }}-deps-${{ hashFiles('pyproject.toml', 'uv.lock') }}
            restore-keys: |
              ${{ runner.os }}-deps-
              ${{ runner.os }}-

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install uv
          export UV_PROJECT_ENVIRONMENT="${pythonLocation}"
          uv sync --frozen --no-install-project --no-editable

      - name: Run pre-commit hook
        uses: pre-commit/action@v3.0.0

      - name: Check for missing migrations
        run: |
          python manage.py makemigrations --dry-run --check --verbosity=3 --settings=odin.settings.sqlite

      - name: Run Django system checks
        run: |
          python manage.py check --fail-level WARNING --settings=odin.settings.sqlite

      - name: Run Pytest suite
        run: |
          pytest --create-db --disable-warnings --ds=odin.settings.test odin/
